{{ define "main" }}

{{ $p := (index .Site.Data.products .Site.Params.product_key) }}

<!-- hero area for page start -->
<section class="hero-area features-plan">
  <div class="container section">
    <div class="columns">
      <div class="column is-6">
        <!-- hero content start -->
        <div class="hero-area-content d-table pr-115">
          <div class="hero-content-inner d-table-cell" data-aos="fade-up">
            <h1>
              Go Cloud Native Confidently
              with AppsCode
            </h1>
            <p>
              At AppsCode, we focus on helping you achieve the outcomes you need to make your business successful. Our
              Support plans are designed to give you the right mix of tools and access to expertise so that you can be
              successful with AppsCode products while optimizing performance, managing risk, and keeping costs under
              control.
            </p>
            <br />
            <p>
              Our pricing plans are product specific and you will need a separate subscription for each product.
            </p>
          </div>
        </div>
        <!-- hero content end -->
      </div>
      <div class="column is-6">
        <div class="hero-area-img" data-aos="fade-up" data-aos-duration="1000">
          <img src="/assets/images/support-page/support-img.png" alt="" class="img" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area for page end -->

<!-- features cta area start -->
<section class="features-cta-area bgc-2 section-padding-100">
  <div class="container section">
    <!-- features cta start  -->
    <div class="features-plan-cta-wrapper">
      <!-- cta-left part start  -->
      <div class="cta-left fp-cta-bg">
        <h2>Plans</h2>
        <p>Our pricing plans are designed to meet your need, risk tolerance and budget constraints</p>
      </div>
      <!-- cta-left part end -->

      <!-- cta-right part start  -->
      <div class="cta-right">
        <!-- single cta start  -->
        <div class="single-cta enterprise has-text-centered">
          <h3>Stash</h3>
          <p>Open Core Stash for production Enterprise workloads</p>
          <div class="bottom-content">
            <!-- <a href="/docs/latest/setup/install/enterprise" class="is-trial">Try for Free!</a> -->
            <a href="/docs/latest/setup/" class="button ac-button is-secondary">Install Now!</a>
          </div>
        </div>
        <!-- single cta end -->
      </div>
      <!-- cta-right part end -->
    </div>
    <!-- features cta end  -->

    <!-- features table start  -->
    <div class="features-plan-area mt-30">

      <!-- single features start  -->
      <div class="single-features-area">

        <!-- single features start  -->
        <div class="single-features title">
          <div class="features-name">Recommended For</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">Self-service plan for production workloads</div>
              <div class="e-plan">For production workloads</div>
              <div class="e-plan">For business and/or mission critical workloads</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Backup & Restore Workload Data<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Deployment, DaemonSet, StatefulSet, ReplicaSet, ReplicationController, OpenShift DeploymentConfig"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Backup & Restore Stand-alone Volume (PVC)<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="PersistentVolumeClaim, PersistentVolume"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Schedule Backup, Instant Backup<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Schedule through cron expression or trigger instant backup using Stash Kubernetes plugin"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Pause Backup<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="No new backup when paused"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Backup & Restore subset of files<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Only backup/restore the files that matches the provided patterns"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Cleanup old snapshots automatically<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Cleanup old snapshots according to different retention policies"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Encryption, Deduplication (send only diff)<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="VolumeSnapshot for Kubernetes workloads. Supported for Kubernetes v1.17.0+"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name"><a href="https://kubernetes.io/docs/concepts/storage/volume-snapshots/">CSI Driver Integration</a><span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="VolumeSnapshot for Kubernetes workloads. Supported for Kubernetes v1.17.0+"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Prometheus Metrics<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Rich backup metrics, restore metrics and Stash operator metrics"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">CLI<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="kubectl plugin (for Kubernetes 1.12+)"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Extensibility and Customizability<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Write addons for bespoke applications and customize currently supported workloads"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Hooks<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Execute httpGet, httpPost, tcpSocket and exec hooks before and after of backup or restore process"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Cloud Storage as Backend<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Stores backup data in AWS S3, Minio, Rook, GCS, Azure, OpenStack Swift, Backblaze B2 and Rest Server"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">On-prem Storage as Backend<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Stores backup data in any locally mounted Kubernetes Volumes such as NFS, etc."><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Backup & Restore databases<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="PostgreSQL, MySQL, MongoDB, Elasticsearch, Redis, MariaDB, Percona XtraDB"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Auto Backup<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Share backup configuration across workloads using templates. Enable backup for a target application via annotation"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Batch Backup & Batch Restore<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Backup and restore co-related applications (eg, WordPress server and its database) together"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Point-In-Time Recovery (PITR)<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Restore a set of files from a time in the past"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

      </div>
      <!-- single features end  -->



      <!-- single features start  -->
      <div class="single-features-area">

        <!-- single features start  -->
        <div class="single-features title">
          <div class="features-name">Security</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"></div>
              <div class="e-plan"></div>
              <div class="e-plan"></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Role Based Access Control (RBAC)</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Open Policy Agent (OPA)</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Pod Security Policy (PSP)</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Network Policy</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">GDPR</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">Planned</div>
              <div class="e-plan">Planned</div>
              <div class="e-plan">Planned</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

      </div>
      <!-- single features end  -->



      <!-- single features start  -->
      <div class="single-features-area">

        <!-- single features start  -->
        <div class="single-features title">
          <div class="features-name">Support Plans</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">SILVER</div>
              <div class="e-plan">GOLD</div>
              <div class="e-plan">PLATINUM</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Support Coverage</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">Self-service</div>
              <div class="e-plan">8x5 ⏰</div>
              <div class="e-plan">24x7</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Response Time SLA<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="We will make every reasonable effort to respond to your initial request within the corresponding timeframes"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">Best Effort</div>
              <div class="e-plan"><a href="/files/products/appscode/appscode-support-plans.pdf">Table 1</a></div>
              <div class="e-plan"><a href="/files/products/appscode/appscode-support-plans.pdf">Table 2</a></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Quarterly Updates</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Emergency patches</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Incident Tickets (with SLA coverage)</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan">5/mo</div>
              <div class="e-plan">16/mo</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name"><a href="https://appscode.freshdesk.com/">Contacts for Ticketing</a></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">1</div>
              <div class="e-plan">5</div>
              <div class="e-plan">10</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name"><a href="https://appscode.freshdesk.com/">Onboarding Support</a></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Remote Hands (Debug via Zoom)<br> for additional fee<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="We are able to accomodate a different remote desktop software if your organization provides it. Unused hours don't accrue."><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">Yes</div>
              <div class="e-plan">Yes<br>(Includes FREE 3 hrs/month)</div>
              <div class="e-plan">Yes<br>(Includes FREE 5 hrs/month)</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Production Runbook</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Dedicated Private chat (via Discord)<span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="We are able to accomodate a different chat software, if your organization provides it"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Phone Support</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span><span class="t-icon">☎</span></div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Custom Features</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan">Additional fee</div>
              <div class="e-plan">Additional fee</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

      </div>
      <!-- single features end  -->

      <!-- short description start  -->
      <div class="pricing-description mt-30">
        <ul>
          <li>
            <span>⏰ </span>Business Hours: Mon - Fri 9am - 6pm UTC+6 timezone (Bangladesh Standard Time) excluding local Bangladesh Holidays
          </li>
          <li>
            <span>☎ </span>Additional conditions apply. Please contact us for further details.
          </li>
        </ul>
      </div>
      <!-- short description end -->
    </div>
  </div>
  <!-- features table end -->
</section>
<!-- features  area end -->

<!-- assistance area start  -->
<section class="assistance-area section-padding-100">
  <div class="container section">
   <!-- section title start  -->
    <div class="columns is-centered">
      <div class="column is-8 has-text-centered">
        <div class="section-title">
          <h2>Need Help?</h2>
          <p>If you have a question, we are here to help! Don't hesitate to reach out.</p>
        </div>
      </div>
    </div>
   <!-- section title end -->

   <!-- assistance cards start  -->
   <div class="columns is-centered is-multiline assistance-card-wrapper">
     <!-- single card start  -->
      <div class="column is-one-quarter-fullhd is-one-third-widescreen is-half-desktop is-two-thirds-tablet is-three-full-mobile">
        <div class="single-card">
        <!-- card head start  -->
        <div class="card-head">
          <div class="ass-icon is-flex">
            <img src="/assets/images/icon/calendar-icon.svg" alt="" class="img" />
          </div>
          <div class="ass-title">Schedule <br> a Meeting</div>
        </div>
        <!-- card head end -->
        <!-- card body start  -->
        <div class="card-body">
          <p>Talk an expert about {{ $p.name }}</p>
          <!-- <a href="#" class="button is-fullwidth">Set a Meeting</a> -->
          <!-- Calendly link widget begin -->
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
          <a href="" class="button is-fullwidth" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/appscode/intro'});return false;">Schedule a Meeting</a>
          <!-- Calendly link widget end -->
        </div>
        <!-- card body end -->
        </div>
      </div>
     <!-- single card end -->

    {{ if $p.datasheetFormID }}
      <!-- single card start  -->
      <div class="column is-one-quarter-fullhd is-one-third-widescreen is-half-desktop is-two-thirds-tablet is-three-full-mobile">
        <div class="single-card">
        <!-- card head start  -->
        <div class="card-head">
          <div class="ass-icon is-flex">
            <img src="/assets/images/icon/download-icon.svg" alt="" class="img" />
          </div>
          <div class="ass-title">Download <br> White Paper </div>
        </div>
        <!-- card head end -->
        <!-- card body start  -->
        <div class="card-body">
          <p>Download the {{ $p.name }} White Paper</p>
          <a href="/datasheet/" class="button is-fullwidth">Download Now</a>
        </div>
        <!-- card body end -->
        </div>
      </div>
      <!-- single card end -->
    {{ end }}

       <!-- single card start  -->
       <div class="column is-one-quarter-fullhd is-one-third-widescreen is-half-desktop is-two-thirds-tablet is-three-full-mobile">
        <div class="single-card">
        <!-- card head start  -->
        <div class="card-head">
          <div class="ass-icon is-flex">
            <img src="/assets/images/icon/newsletter-icon.svg" alt="" class="img" />
          </div>
          <div class="ass-title">Mailing <br> List</div>
        </div>
        <!-- card head end -->
        <!-- card body start  -->
        <div class="card-body">
          <p>Subscribe to Our Newsletter</p>
          <!-- subscription form start -->
          <div class="subscription-form">
            <form method="post" action="https://listmonk.appscode.com/subscription/form" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form" target="_blank" novalidate role="email" role="email">
              <!-- AppsCode Monthly Newsletter -->
              <input type="hidden" id="afbbc" name="l" value="afbbc974-e163-4467-be49-040e399520f3" />
              <input
                class="input"
                name="email"
                id="mce-EMAIL"
                type="email"
                placeholder="Your work email address"
                required
              />
              <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="button">
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </form>
          </div>
          <!-- subscription form end -->
        </div>
        <!-- card body end -->
        </div>
      </div>
     <!-- single card end -->
      <!-- single card start  -->
      <div class="column  is-one-quarter-fullhd is-one-third-widescreen is-half-desktop is-two-thirds-tablet is-three-full-mobile">
        <div class="single-card">
        <!-- card head start  -->
        <div class="card-head">
          <div class="ass-icon is-flex">
            <img src="/assets/images/icon/document-icon.svg" alt="" class="img" />
          </div>
          <div class="ass-title">Explore <br> Docs</div>
        </div>
        <!-- card head end -->
        <!-- card body start  -->
        <div class="card-body">
          <p>Learn about {{ $p.name }} from our docs</p>
          <a href="/docs/latest/" class="button is-fullwidth">Read the Docs</a>
        </div>
        <!-- card body end -->
        </div>
      </div>
     <!-- single card end -->
   </div>
   <!-- assistance cards end -->
  </div>
</section>
<!-- assistance area end -->

<!-- faq section start  -->
<section class="features-plan-faq-area pb-100">
  <div class="container section">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="section-title has-text-centered">
          <h2>FAQ</h2>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-8">
        <!--use "is-marginless" class for remove margin -->
        <div class="ac-accordion-wrapper">
          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Can I upgrade or downgrade anytime?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                Monthly plans are subject to a 30 day minimum term.
                Monthly plans can be upgraded anytime.
                Annual plans can be downgraded at the end of the term.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Is my payment information safe?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                Our payment processing is powerd by
                <a href="https://stripe.com" class="ac-primary-color">Stripe</a>.
                You credit card data never touches our servers. For more information,
                please visit <a target="_blank" href="https://stripe.com" class="ac-primary-color">stripe.com</a>.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Do you have any cancellation fee?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                There is no cancellation fee. But plans are subject to minimum duration as stated above.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>What types of payment do you accept?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                We accept all popular credit/debit cards such as Visa, Mastercard, American Express,
                Discover, etc. We also accept ACH debit/credit.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->
        </div>

      </div>
    </div>
  </div>
</section>
<!-- faq section end  -->

{{ end }}
