{{ define "main" }}

{{ $p := (index .Site.Data.products .Site.Params.product_key) }}

<!-- hero area for page start -->
<section class="hero-area features-plan">
  <div class="container section">
    <div class="columns">
      <div class="column is-6">
        <!-- hero content start -->
        <div class="hero-area-content d-table pr-115">
          <div class="hero-content-inner d-table-cell" data-aos="fade-up">
            <h1>
              Go Cloud Native Confidently
              with AppsCode
            </h1>
            <p>
              At AppsCode, we focus on helping you achieve the outcomes you need to make your business successful. Our
              Support plans are designed to give you the right mix of tools and access to expertise so that you can be
              successful with AppsCode products while optimizing performance, managing risk, and keeping costs under
              control.
            </p>
            <br />
            <p>
              Our pricing plans are product specific and you will need a separate support subscription for each product.
            </p>
          </div>
        </div>
        <!-- hero content end -->
      </div>
      <div class="column is-6">
        <div class="hero-area-img" data-aos="fade-up" data-aos-duration="1000">
          <img src="/assets/images/support-page/support-img.png" alt="" class="img" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area for page end -->

<!-- features cta area start -->
<section class="features-cta-area bgc-2 section-padding-100">
  <div class="container section">
    <!-- features cta start  -->
    <div class="features-plan-cta-wrapper">
      <!-- cta-left part start  -->
      <div class="cta-left fp-cta-bg">
        <h2>Plans</h2>
        <p>Our pricing plans are designed to meet your need, risk tolerance and budget constraints</p>
      </div>
      <!-- cta-left part end -->

      <!-- cta-right part start  -->
      <div class="cta-right">
        <!-- single cta start  -->
        <div class="single-cta community has-text-centered">
          <h3>Stash Community</h3>
          <p>Open source Stash Free for Commercial and Non-commercial usage</p>
          <div class="bottom-content">
            <a href="/docs/latest/setup/install/community" class="button ac-button is-secondary">Install Now!</a>
            <!-- plan title start  -->
            <div class="plan-title">
              <ul>
                <li>community</li>
              </ul>
            </div>
            <!-- plan title end -->
          </div>
        </div>
        <!-- single cta end -->
        <!-- single cta start  -->
        <div class="single-cta enterprise has-text-centered">
          <h3>Stash Enterprise</h3>
          <p>Open Core Stash for production Enterprise workloads</p>
          <div class="bottom-content">
            <a href="/docs/latest/setup/install/enterprise" class="is-trial">Try for Free!</a>
            <a href="{{ $.Site.Params.domain_appscode }}/contact/" class="button ac-button is-secondary">Contact Us</a>
            <!-- plan title start  -->
            <div class="plan-title enterprise">
              <ul>
                <li>Indie</li>
                <li>Staging</li>
                <li>Prod</li>
                <li>Oem</li>
              </ul>
            </div>
            <!-- plan title end -->
          </div>
        </div>
        <!-- single cta end -->
      </div>
      <!-- cta-right part end -->
    </div>
    <!-- features cta end  -->

    <!-- features table start  -->
    <div class="features-plan-area mt-30">
      
      <!-- single features start  -->
      <div class="single-features-area">

        <!-- single features start  -->
        <div class="single-features title">
          <div class="features-name">Recommended For</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community">
              For Open Source Free Use
            </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">For Indie Develpers or Smaill Shops</div>
              <div class="e-plan">For Pre-production Clusters</div>
              <div class="e-plan">For production Cluster</div>
              <div class="e-plan">Bundle Stash with customer apps</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name"><a href="#">Link type data</a><span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Deployment, DaemonSet, StatefulSet, ReplicaSet, ReplicationController, OpenShift DeploymentConfig"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan">Unlimited</div>
              <div class="e-plan">Unlimited</div>
              <div class="e-plan">Unlimited</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Allowed # of Kubernetes Cluster For <span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Deployment, DaemonSet, StatefulSet, ReplicaSet, ReplicationController, OpenShift DeploymentConfig"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan">Unlimited</div>
              <div class="e-plan">Unlimited</div>
              <div class="e-plan">Unlimited</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Demo data</div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community">
              <span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                alt="error-icon"></span>
            </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan">Demo content</div>
              <div class="e-plan">24/5</div>
              <div class="e-plan">N/A</div>
              <div class="e-plan">N/A</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name"><a href="#">Link type data</a><span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Deployment, DaemonSet, StatefulSet, ReplicaSet, ReplicationController, OpenShift DeploymentConfig"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span></div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                    alt="check-icon"></span></div>
              <div class="e-plan">Unlimited</div>
              <div class="e-plan">Unlimited</div>
              <div class="e-plan">Unlimited</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

        <!-- single features start  -->
        <div class="single-features">
          <div class="features-name">Allowed # of Kubernetes Cluster For <span
              class="info-icon tooltip is-tooltip-primary is-tooltip-multiline"
              data-tooltip="Deployment, DaemonSet, StatefulSet, ReplicaSet, ReplicationController, OpenShift DeploymentConfig"><img
                src="/assets/images/icon/info-icon.svg" alt="info-icon"></span>
          </div>
          <!-- features plan wrapper  -->
          <div class="features-plan-wrapper">
            <!-- community plan start  -->
            <div class="features-plan community"><span class="t-icon"><img src="/assets/images/icon/check-icon.svg"
                  alt="check-icon"></span> </div>
            <!-- community plan end  -->
            <!-- enterprise plan start  -->
            <div class="features-plan enterprise">
              <div class="e-plan"><span class="t-icon"><img src="/assets/images/icon/error-icon.svg"
                    alt="error-icon"></span></div>
              <div class="e-plan">Unlimited</div>
              <div class="e-plan">Unlimited</div>
              <div class="e-plan">Unlimited</div>
            </div>
            <!-- enterprise plan end  -->
          </div>
          <!-- features plan wrapper  -->
        </div>
        <!-- single features end -->

      </div>
      <!-- single features end  -->
     
      <!-- short description start  -->
      <div class="pricing-description mt-30">
        <ul>
          <li>
            <span>* </span>Each License applies to 1 Kubernetes cluster for 1 year. There are no limits on how many
            nodes you can have per Kubernetes cluster.
          </li>
          <li>
            <span>☎ </span>Additional conditions apply. Please contact us for further details.
          </li>
        </ul>
      </div>
      <!-- short description end -->
    </div>
  </div>
  <!-- features table end -->
</section>
<!-- features  area end -->

<!-- faq section start  -->
<section class="features-plan-faq-area pb-100 section-padding-70">
  <div class="container section">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="section-title has-text-centered">
          <h2>FAQ</h2>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-8">
        <!--use "is-marginless" class for remove margin -->
        <div class="ac-accordion-wrapper">
          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Can I upgrade or downgrade anytime?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                Monthly plans are subject to a 30 day minimum term.
                Monthly plans can be upgraded anytime.
                Annual plans can be downgraded at the end of the term.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Is my payment information safe?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                Our payment processing is powerd by
                <a href="https://stripe.com" class="ac-primary-color">Stripe</a>.
                You credit card data never touches our servers. For more information,
                please visit <a target="_blank" href="https://stripe.com" class="ac-primary-color">stripe.com</a>.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Do you have any cancellation fee?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                There is no cancellation fee. But plans are subject to minimum duration as stated above.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>What types of payment do you accept?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                We accept all popular credit/debit cards such as Visa, Mastercard, American Express,
                Discover, etc. We also accept ACH debit/credit.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->
        </div>

      </div>
    </div>
  </div>
</section>
<!-- faq section end  -->

{{ end }}